# -------------------------
# Python
# -------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# -------------------------
# Virtual Environment
# -------------------------
venv/
myenv/
.env
.env.*

# -------------------------
# Database
# -------------------------
*.db
*.sqlite
*.sqlite3

# -------------------------
# Logs
# -------------------------
*.log

# -------------------------
# IDE / Editor
# -------------------------
.vscode/
.idea/

# -------------------------
# OS files
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# FastAPI / Uvicorn
# -------------------------
*.pid
